body {
  animation: color-change-5x 8s linear infinite alternate both;
}

@keyframes color-change-5x {
  0% {
    background: #19dcea;
  }
  25% {
    background: #b22cff;
  }
  50% {
    background: #ea2222;
  }
  75% {
    background: #f5be10;
  }
  100% {
    background: #3bd80d;
  }
}

#main-container {
  padding: 20px;
  border-radius: 10px;
  margin: 50px;
  background: #f8e7ae;
}

@media (max-width: 390px) {
  body {
    display: flex;
    margin-bottom: 10px;
    justify-content: center;
  }
  #main-container {
    margin: 0;
    width: 350px;
    position: relative;
  }
}

#personal_details {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#submit_application {
  width: 230px;
  height: 40px;
  background: #ffcd3c;
  border-radius: 5px;
}

#section-header {
  padding-top: 40px;
}

@media (max-width: 390px) {
  #submit_application {
    width: 160px;
    font-size: 0.9rem;
  }
}
@media (max-width: 650px) {
  #submit_application {
    width: 140px;
    font-size: 0.8rem;
  }
  #section-header{
    font-size: 1rem;
  }
}

span {
  font-size: 0.8rem;
  color: brown;
  padding-right: 10px;
}

#details {
  display: flex;
  flex-direction: column;
}

label {
  font-size: 1.2rem;
  color: #5e616a;
  padding: 15px;
  font-weight: 600;
}

input {
  font-size: 1rem;
  padding: 10px;
}

#resume_paragraph1 {
  color: #5c636e;
}

#resume_paragraph2 {
  color: #8f8787;
}

#file_container {
  display: flex;
  justify-content: start;
  align-items: center;
  border: 1px solid gray;
  height: 100px;
  margin-bottom: 30px;
}

#radio-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 10px;
}

#div1,
#div2,
#div3,
#div4 {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid gray;
  width: 300px;
  height: 50px;
}

.radio-icon {
  display: inline-block;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #ccc;
  cursor: pointer;
}

 .radio-icon {
  background-color: white;
}

input[type="radio"]:checked + .radio-icon {
  background-image: url("./right-arrow.png");
  background-repeat: no-repeat;
  background-size: 16px;
  background-position: center;
  background-color: #ffcd3c;
  border-radius: 50%;
}

input[type="radio"]:checked {
  display: none;
}

#checkbox {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
}

#checkbox p {
  margin: 0;
  padding-left: 5px;
}

a {
  color: brown;
}

#submit {
  width: 550px;
  height: 40px;
  background: #e4a933;
  border-radius: 5px;
  color: white;
  border-color: #e4a933;
}

#container-submit-button {
  display: flex;
  justify-content: center;
  color: white;
}



@media (max-width: 390px) {
  #section-header {
    padding-top: 10px;
    font-size: 1rem;
  }
  #personal_details {
    display: flex;
    flex-direction: column;
  }
}




#phone {
  font-size: 1rem;
}

.container-data {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 20px;
  flex-wrap: wrap;
  margin: 50px;
}

textarea {
  -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;

    width: 100%;
}

@media (max-width: 390px) {
  #file {
    color: red;
    font-size: 0.8rem;
  }
  #file_container {
    max-width: 305px;
    display: block;
    flex-wrap: wrap;
  }
}


